/******************* Imports *******************/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);

/******************* HTML components *******************/
body{ font-family: 'Roboto Condensed', sans-serif;}
h1 { font-family: 'Roboto', sans-serif;font-weight:700;font-size:3rem;color:#87A65C; }
h2 { font-family: 'Roboto Condensed', sans-serif;font-weight:700; }
h3 { font-family: 'Roboto Condensed', sans-serif;font-weight:500;font-size:1.5rem; }
p { text-align:left;font-size:1.5rem; }

/******************* Foundation components *******************/

.button {background:#87A65C}
.button:hover {background:#6D8C40}

/******************* Major components *******************/

.dashline 		{border-bottom: 1px dotted #000;text-decoration: none;}

/******************* View components *******************/
.valign{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.fullWidth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.fullPage {
	overflow:hidden;
	width: 100%;
	height:100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.overlayInner{
	padding:2rem;
	-webkit-box-shadow: 0px 0px 26px 0px rgba(34,34,34,0.5);
	-moz-box-shadow: 0px 0px 26px 0px rgba(34,34,34,0.5);
	box-shadow: 0px 0px 26px 0px rgba(34,34,34,0.5);
}

.viewTitle		{ position:absolute;top:0;left:0;z-index:99;text-align:center;width:100%;}
.adminBorder 	{ border:solid 3px #6f6351;padding:.5rem; }
.arrow-up	 	{ width:0;height:0;border-left:25px solid transparent;border-right:25px solid transparent;border-bottom:25px solid #EEE; }

/******************* View containers *******************/

/*** Side Menu ***/
#sideMenu			{ background:#E8E8E8;height:100%;text-align:center;padding:0; }
.sideMenu			{ position:relative;width:100%;padding:1rem 0;font-size:1.2rem; }
.sideMenu:hover		{ background:#F0F0F0 ;cursor:pointer; }
.sideSelected		{ background:#FFF;left;5px; }
.sideSelected:hover	{ background:#FFF; }

/******************* Accounts components *******************/

.dashboardStat		{ text-align:left; }
.dashboardStat i		{ color:#87A65C;padding-right:3rem; }

#accountsMenu		{ 
						position:relative;z-index:1;background:#FFF;height:100%;text-align:center;padding:0;-webkit-box-shadow: 8px 0px 13px -4px rgba(0,0,0,0.20);
						-moz-box-shadow: 8px 0px 13px -4px rgba(0,0,0,0.20);box-shadow: 8px 0px 13px -4px rgba(0,0,0,0.20);
					}
#accountSearch		{ padding:0 5%; }				
#accountSearchInput	{ border:0;border-bottom:solid 1px #CCC;outline:0;box-shadow:none;background:#FFF; }
#accountSearchInput:focus{ border:0;border-bottom:solid 1px #87A65C;outline:0;box-shadow:none;background:#FFF; }				
#accountOverview	{ position:relative;z-index:0; }					
.accountMenu 		{ position:relative;width:100%;max-height:2rem;padding:.25rem 1rem;text-align:left; }
.accountMenu:hover	{ background:#F0F0F0; cursor:pointer; }
.iconFB				{ color:#3b5998; }
.iconTW             		{ color:#4099FF; }
.iconYelp          		{ color:#af0606; }
.iconGP            		{ color:#dd4b39; }
.iconIG            		{ color:#125688; }

.accountPanelMenu	{ font-size:1.5rem;cursor:pointer;background:#FFF;padding:.5rem 0;border-radius:1rem; }
.accountPanelMenu:hover	{ background:#EEE; }
.accountPanelMenu:active { background:#87A65C;color:#FFF; }
.accountPanel		{ background:#EEE;position:relative;width:100%; }

.accountSocialCont	{ webkit-box-shadow: -1px 5px 5px 0px rgba(224,220,224,1);-moz-box-shadow: -1px 5px 5px 0px rgba(224,220,224,1);box-shadow: -1px 5px 5px 0px rgba(224,220,224,1);padding:0; }
.socialPanel		{ display:none;width:100%;min-height:5rem; }
.accountNotes		{ height:100%; }
.accountSocialStats  { position:relative;text-align:left;border:1rem;width:100%;padding: 2% 5%;margin:0; }
#accountFBStats		{ background:#3b5998;color:#FFF; }
#accountTWStats		{ background:#4099FF;color:#FFF; }
#accountYPStats		{ background:#af0606;color:#FFF; }
#accountGPStats		{ background:#dd4b39;color:#FFF; }
.socialPanelColumn	{ padding:1rem;text-align:left; }
.socialPanelColumn h3 { color:#FFF; }
#accountSocialRep	{ color:#000; }

.galleryImage		{ cursor:pointer;border:dashed 3px #FFF; }
.galleryImage:hover	{ cursor:pointer;border:dashed 3px #87A65C; }
#galleryProgress	{ height:2rem;text-align:center;border-radius:.2rem;padding:0rem 1rem;background:#CCC; }

.accountMerchantNotesTitle 	{ text-align:left;padding-top:1rem;font-weight:700 }

.accountPostTypeDay	{ cursor:pointer; } 
.postTypeDay		{ font-size:1rem;text-align:center;margin:0; }

/******************* Notify components *******************/

#notifyEmailVarsSelect	{ background:#EEE;border-radius:10px;padding:.5rem; }
.notifyEmailVar			{ color:#000;font-weight:700; }
.notifyEmailVar:hover	{ color:#87A65C;cursor:pointer; }

.notifyEmailEditorButton		{ background:#FFF;Padding:10px !important;cursor:pointer; }
.notifyEmailEditorButton:hover 	{ background:#CCC; }
.notifyEmailEditorButton:active 	{ background:#999; }
